## Basic programming 2

### 1.Write a Python program to convert kilometers to miles?

In [1]:
Kilometers = float(input("Enter distance in km "))
miles = Kilometers*0.6213
print("Distance in miles is ",miles)

Enter distance in km 45
Distance in miles is  27.958499999999997

### 2.Write a Python program to convert Celsius to Fahrenheit?

In [2]:
#Fahrenhit = Celsius*(9/5) + 32)
Celsius = float(input("Enter temperature in celsius "))
Fahrenheit = (Celsius*(9/5))+32
print("Temperature in Farenheit ",Fahrenheit)

Enter temperature in celsius 1
Temperature in Farenheit  33.8

### 3.Write a Python program to display calendar?

In [3]:
import calendar
year = int(input("Enter Year"))
print(calendar.calendar(year))

Enter Year1998
                                  1998

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [4]:
#If you want to get a calender for a particular month and year
Year = int(input("Enter Year : "))
Month = int(input("Enter Month : "))
try :
    print(calendar.month(Year,Month))
except:
    print("Out of range")

Enter Year : 1998
Enter Month : 10
    October 1998
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

### 4.Write a Python program to solve quadractic equation?

In [5]:
import math
a = 1
b = 4
c = 1

d = b**2 - (4*a*c)
print("Descriminant : ",d)

sol1 = (-b - math.sqrt(d))/(2*a)
sol2 = b - (math.sqrt(d))/(2*a)

print("Sol1 : ",sol1)
print("Sol2 : ",sol2)

Descriminant :  12
Sol1 :  -3.732050807568877
Sol2 :  2.267949192431123

### 5. Write a Python program to swap two variables without temp variable?

In [6]:
x = int(input("Enter value of x"))
y = int(input("Enter value of y"))
x,y = y,x

print ("y", y,"\n" "x",x)

Enter value of x3
Enter value of y6
y 3
x 6